@page "/"

@using ResumeApp.Core.Model;
@using ResumeApp.Core.Service.Interface;
@using System.Text.Json;
@inject IResumeService ResumeService;

 <div class="row">
     <LeftPane BasicInfo="@ResumeModel.basics"/>
     <RightPane ResumeInfo="@ResumeModel"/>
 </div>

@code{

Resume ResumeModel {get;set;}

protected override async Task OnInitializedAsync(){
    ResumeModel = await ResumeService.GetResumeAsync();
}

}